<template>
<div>
    <h2> Messages </h2>
    <ul>
        <li v-for="(message,index) in message" v-bind:key="index">{{ message }} à la position {{ index }} </li>
    </ul>
</div>
</template>

<script>
export default {
    name: 'Messages',
    data() {
        return {
            message: [" My vert", " First", "Message"]
        }
    },
}
</script>

<style lang="scss" scoped>

</style>
